.jigsaw1 {
  width: 6rem;
  height: 6rem;
  margin: 50px;
  position: relative;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.jigsaw1,
.jigsaw1 span {
  background-color: #5875a1;
}

.jigsaw1 .t {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  border-radius: 4rem;
}

.jigsaw1 .r {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  left: 5.5rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  border-radius: 4rem;
}

.jigsaw1 .b {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 4.5rem;
  left: 2.2rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  border-radius: 4rem;
  background-color: #fff;
}

.jigsaw1 .l {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 2.2rem;
  left: -0.4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  border-radius: 4rem;
  background-color: #fff;
}

@media screen and (max-width: 834px) {
  .jigsaw1 {
    /*font-size: 30% !important;*/
  }
}
